/* ==================================
RESPONSIVE.CSS
================================== */

html,
body {
  overflow-x: hidden;
}

/* Hide hamburger on desktop */

.menu-toggle {
  display: none;
}

/* ==================================
MOBILE NAVBAR
================================== */

@media (max-width: 768px) {
  .navbar {
    padding: 15px 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 24px !important;
  }

  .menu-toggle {
    display: block;
    font-size: 28px;
    color: #d4aa5a;
    cursor: pointer;
  }

  .nav-links {
    position: fixed;

    top: 75px;
    right: -100%;

    width: 280px;
    height: 100vh;

    background: #111;

    display: flex;
    flex-direction: column;

    padding: 40px 25px;

    gap: 20px;

    transition: 0.4s ease;

    z-index: 99999;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    width: 100%;
    list-style: none;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
}
